<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
        <title>Halo Thymeleaf</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <form method="post" action="logout">
            <input type="submit" value="Logout"/>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                
        </form>
        
        <p th:text="'Waktu :' + ${waktu} + '!'" />
    </body>
</html>
